@import 'vars';
.media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  a {
    font-size: 4rem;
    padding: 10px;
    color: $color1;
    &:hover {
      color: $color2;
    }
  }
}
.description {
  margin-bottom: 20px;
  span {
    font-weight: bold;
  }
}
.photo {
  float: left;
  width: 130px;
  overflow: hidden;
  background-color: rgb(180, 180, 180);
  height: 148px;
  margin-right: 15px;
  margin-bottom: 5px;
  @include tablet {
    width: 200px;
    height: 227px;
  }
  img {
    max-width: 100%;
    vertical-align: middle;
  }
}