@import 'vars';

.list {
  list-style-type: none;
  padding: 0;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid $color1;
  border-top: 0;
  margin-top: 0;
  @include laptop {
    height: 300px;
  }
}
.input {
  width: 100%;
  margin-top: 10px;
  display: flex;
  input {
    width: 100%;
    border: 2px solid $color4;
    border-right: 0;
    padding: 8px 5px;
    &:active, &:focus, &:focus-visible {
      outline: 0;
      background-color: $color10;
    }
  }button {
    width: auto;
  }
}