@import 'vars';
.wrapper {
  padding: 10px 5px;
  cursor: pointer;
  display: flex;
  justify-content:space-between;
  align-items:center;
  width: 100%;
  &:hover {
    background-color: $color10;
  }
  &:nth-of-type(odd) {
    
    background: $color12;
    &:hover {
      background-color: $color10;
    }
  }
  >span:nth-of-type(2) {
    display: block;
    padding-left: 5px;
  }
  
  span.street{
  border: 1px solid red;
  }
}
