@import "vars";
.video {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  background-color: $color4;
  //margin: 0 -15px;
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.desc {
  background-color: $color4;
  min-height: 86px;
}

.actual {
  padding: 5px;
  text-align: center;
  background: $color10;
  height: 60px;
  border: 5px solid $color4;
  border-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  width: 100%;
  color: #fff;
  padding: 5px 0;
  span {
    display: block;
    width: 33.3333%;
    text-align: center;
  }
}

.back {
  display: flex;
  color: $color2;
  padding: 7px 2px;
  margin: 0;
  button {
    border: 0;
    background-color: transparent;
    font-size: 1.4rem;
    color: $color4;
    cursor: pointer;
    &:hover {
      color: $color3;
    }
  }
}