@import "vars";

.Button {
  background-color: $color4;
  border: 1px solid $color4;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  height: 50px;
  width: 100%;
  font-size: 1.7rem;
  @include tablet {
    width: auto;
  }
  &:hover {
    background-color: $color2;
    border: 1px solid $color2;
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
