@import "vars";

.wrapper {
  display: block;
  padding: 5px 0;
  width: 100%;
}
.label {
  display: block;
  font-weight: bold;
}
.input {
  width: 100%;
  height: 50px;
  border: 1px solid $color1;
  font-size: 1.7rem;
  &:focus {
    outline: none;
    border: 1px solid $color4;
    background-color: $color3;
  }
  &[disabled] {
    opacity: 0.5;
  }
}
.inputError {
  border-color: $color6;
  background: $color7;
  &:focus {
    border-color: $color6;
    background: $color7;
  }
}

.required {
  color: $color6;
}
